name: Deploy to Azure Prod App

on:
  push:
    branches:
      - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Deploy to Azure Web App (prod)
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'elevenseven-backend-prod'
        publish-profile: ${{ secrets.AZURE_PROD_PUBLISH_PROFILE }}
        package: .
